WebUI/Service References/RegulationServiceReference/RegulationService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebUI.Areas.Regulation.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebUI.Areas.Regulation.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://regulation.pba.su/Regulation/API/RegulationService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Base" />
  <xs:import schemaLocation="http://regulation.pba.su/Regulation/API/RegulationService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://regulation.pba.su/Regulation/API/RegulationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPortalLinkConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortalLinkConfig" nillable="true" type="tns:PortalLinkConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortalLinkConfig" nillable="true" type="tns:ArrayOfPortalLinkConfig" />
  <xs:complexType name="PortalLinkConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LinkConfig">
        <xs:sequence>
          <xs:element name="_x003C_LinkGroup_x003E_k__BackingField" type="tns:LinkGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PortalLinkConfig" nillable="true" type="tns:PortalLinkConfig" />
  <xs:complexType name="LinkConfig">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Base" base="q1:BaseObject">
        <xs:sequence>
          <xs:element name="_x003C_Image_x003E_k__BackingField" nillable="true" type="q1:FileData" />
          <xs:element name="_x003C_Link_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="random" nillable="true" type="q2:Random" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LinkConfig" nillable="true" type="tns:LinkConfig" />
  <xs:simpleType name="LinkGroup">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RegionORVPortal" />
      <xs:enumeration value="OtherPortal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LinkGroup" nillable="true" type="tns:LinkGroup" />
</xs:schema>